#box-main {
  display: flex;
  height: 75%;
  width: 75%;
  flex-direction: column;
  border-radius: 10px;
}

#top {
  display: flex;
  height: 80%;
  width: 100%;
  flex-direction: row;
  border-radius-top: 10px;
}
#users-main {
  width: 20%;
  height: 100%;
  background-color: #DDD;
}
#conversation-main {
  width: 80%;
  height: 100%;
  background-color: #FFF;
}

#bottom {
  display: flex;
  flex-direction: row;
  height: 20%;
  width: 100%;
  border-radius-bottom: 10px;
}
#text-entry-main {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background-color: #CCC;
}
#text-entry-form {
  width: 80%;
  height: 100%;
}
#text-entry-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
  background-color: #FB4F4F;
  cursor: pointer;
}
